body {
  font-family: Arial;
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 900px;
  margin: auto;
}

.panel {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

#logs {
  height: 200px;
  overflow-y: auto;
  background: #111;
  color: #0f0;
  padding: 10px;
}